.selectTicket {
  background-color: #08252b;
  border: 1px solid #0d4751;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  margin-bottom: 25px;
}
.selectTicket h3 {
  font-family: sans-serif;
}
.selectTicket h1,
.selectTicket h3 {
  font-weight: 400;
}
.line {
  width: 100%;
  display: flex;
  height: 5px;
  margin-bottom: 40px;
}
.light {
  background-color: #24a0b5;
  color: #08252b;
  width: 40%;
  border-radius: 5px;
}
.dark {
  background-color: #0c3a41;
  width: 100%;
  border-radius: 5px;
}
.techember {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #0e3a43, #082228);
  border-bottom: 3px solid #0c3a41;
  border-left: 3px solid #0c3a41;
  border-right: 3px solid #0c3a41;
  margin-bottom: 40px;
}
.techember h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.ticketType {
  border: 1px solid #0c3a41;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #082228;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lists {
  display: flex;
  flex-direction: column;
  border: 1px solid #24a0b5;
  border-radius: 10px;
  padding: 15px;
  font-family: sans-serif;
  margin: 10px 0;
}
.lists h1 {
  margin: 0;
  font-weight: 600;
}
.chevrondiv {
  text-align: left;
  border-radius: 8px;
  background-color: #08252b;
  border: 1px solid #0c3a41;
  padding-left: 10px;
}
.chevron {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  background-color: inherit;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.6rem;
}
.chevsmalldiv {
  font-size: 1.4rem;
}
.chevrondiv div {
  display: flex;
  justify-content: space-evenly;
  margin: 6px;
}
.bottom {
  margin: 25px 0;
}
.nextncancel {
  margin-top: 30px;
}
.nextncancel button {
  text-align: center;
  padding: 15px 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 10px;
  width: 100%;
}
.next {
  background-color: #24a0b5;
  border: 1px solid #24a0b5;
  color: white;
}
.cancel {
  border: 1px solid #24a0b5;
  background-color: inherit;
  margin: 20px 0;
  color: #24a0b5;
}

@media (min-width: 600px) {
  .selectTicket {
    width: 60%;
    margin: 0 auto 150px;
    background-color: #041e23;
  }
  .tabletBox {
    background-color: #08252b;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #0d4751;
  }
  .ticketType {
    flex-direction: row;
  }
  .nextncancel {
    display: flex;
    flex-direction: row-reverse;
  }
  .cancel {
    margin: 0;
    margin-right: 20px;
  }
}
