body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #02191d;
}

@media (min-width: 600px) {
  body {
    background: linear-gradient(to top, #14606c 0%, #072c31 7%);
  }
}
