.parent {
  display: flex;
  background-color: #031e23;
  border: 1px solid #0d4751;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.myticket {
  background-color: white;
  padding: 15px 10px;
  border-radius: 5px;
  user-select: none;
}
.actionbar {
  list-style: none;
  display: none;
  width: 30%;
  justify-content: space-between;
  color: #aaaaaa;
}
.actionbar li:hover {
  cursor: pointer;
  color: white;
}
.actionbar :first-child {
  color: white;
}
@media (min-width: 600px) {
  .actionbar {
    display: flex;
  }
}
